policy_module(teamsbc,1.0)

# Allow systemd to rename files in VFAT partitions,
# see: https://github.com/teamsbc/distribution/issues/27#issuecomment-4716640670
require {
	type dosfs_t;
	type init_t;
	class file rename;
}

allow init_t dosfs_t:file rename;

# Allow systemd-importd (and systemd-pull, which runs in the same domain) to
# read the OpenPGP keyring used for verifying sysupdate manifests.
type systemd_import_pubring_t;
files_type(systemd_import_pubring_t)

require {
	type systemd_importd_t;
	class file { getattr open read };
}

allow systemd_importd_t systemd_import_pubring_t:file { getattr open read };

# Allow systemd-importd (systemd-pull) to write update artifacts to the ESP,
# which is a VFAT partition labeled dosfs_t.
require {
	type dosfs_t;
	class dir { search write add_name remove_name };
	class file { create getattr setattr open read write rename unlink lock };
}

allow systemd_importd_t dosfs_t:dir { search write add_name remove_name };
allow systemd_importd_t dosfs_t:file { create getattr setattr open read write rename unlink lock };
