name: Build SRPMs

on:
  push:
    paths:
      - common/**
    branches:
      - main
  workflow_dispatch:

jobs:
  build-rpms:
    strategy:
      matrix:
        repository:
          - common
        build:
          - distro: fedora
            version: 44
            arch: x86_64
            runner: ubuntu-latest
          - distro: fedora
            version: 44
            arch: aarch64
            runner: ubuntu-24.04-arm
          - distro: fedora
            version: 45
            arch: x86_64
            runner: ubuntu-latest
          - distro: fedora
            version: 45
            arch: aarch64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.build.runner }}
    container: 
      image: ghcr.io/teamsbc/ci-packages:${{ matrix.build.distro }}-${{ matrix.build.version }}
    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v6
      - name: "Setup"
        run: |
          echo "%_topdir %(pwd)" >> ~/.rpmmacros
          mkdir /rpms/
          mkdir /repo/
      - name: "Build"
        run: |
          for DIR in ./${{ matrix.repository }}/*/; do
            pushd $DIR
            mkdir -p {BUILD,BUILDROOT,RPMS,SRPMS,SPECS,SOURCES}
            cp -v *.* SOURCES
            cp -v *.spec SPECS
            rpmbuild -ba *.spec
            popd
          done
      - name: "Copy"
        env:
          REPO: /rpms/${{ github.ref_name }}/latest/${{ matrix.build.version }}/${{ matrix.build.arch }}/${{ matrix.repository }}
        run: |
          mkdir -p $REPO/
          find ./${{ matrix.repository }} -name '*.rpm' -exec mv -t $REPO {} +
      - name: "Repository"
        env:
          REPO: /rpms/${{ github.ref_name }}/latest/${{ matrix.build.version }}/${{ matrix.build.arch }}/${{ matrix.repository }}
        run: |
          cd $REPO/
          createrepo_c .
      - name: "Upload"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp --recursive /rpms \
            "s3://teamsbc-packages/" \
            --endpoint-url ${{ secrets.R2_ENDPOINT }} \
            --no-progress
